<mat-toolbar>
  <div class="song-description-container">
    <mat-card id="song-photo">Foto</mat-card>
    <div class="song-description">
      <p id="song-name">Nome da música</p>
      <p id="artist">Nome do artista</p>
    </div>
  </div>
  <div class="controllers-and-feedback-div">
    <div class="controllers-div">
      <mat-icon>skip_previous</mat-icon>
      <mat-icon>play_arrow</mat-icon>
      <mat-icon>skip_next</mat-icon>
    </div>
    <div class="feedback-div">
      <p id="current-song-part">0.0</p>
      <mat-slider id="song-slider"></mat-slider>
      <p id="song-duration">5.55</p>
    </div>
  </div>
  <div class="volume-area">
    <mat-slider></mat-slider>
  </div>
</mat-toolbar>
