app-player-bar {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.content-container {
  height: 82vh;
  width: 100%;
}

.drawer {
  width: 15%;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  height: 10px;
}
