  <mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer class="drawer" mode="side">
      <mat-nav-list>
        <app-navigation-button icon="home" textContent='home'></app-navigation-button>
        <app-navigation-button icon="search" textContent='Search'></app-navigation-button>
        <app-navigation-button icon="library_music" textContent='Your Library'></app-navigation-button>
        <mat-divider></mat-divider>
        <app-navigation-button icon="library_add" textContent='Create new playlist'></app-navigation-button>
        <div class="spacer"></div>
      </mat-nav-list>
    </mat-drawer>
    <div class="main-content-area">
      <button mat-raised-button (click)="drawer.open()">Abrir</button>
    </div>
  </mat-drawer-container>
<app-player-bar></app-player-bar>
