  <mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer class="drawer" mode="side">
      <mat-nav-list>
        <!-- transformar esse button-div em um componente-->
        <div class="button-div">
          <mat-icon aria-hidden="false">home</mat-icon>
          <button mat-button>Home</button>
        </div>
        <div class="button-div">
          <mat-icon aria-hidden="false">search</mat-icon>
          <button mat-button>Search</button>
        </div>
        <div class="button-div">
          <mat-icon aria-hidden="false">library_music</mat-icon>
          <button mat-button>Your Library</button>
        </div>
        <mat-divider></mat-divider>
        <div class="button-div">
          <mat-icon aria-hidden="false">library_add</mat-icon>
          <button mat-button>Create new playlist</button>
        </div>
      </mat-nav-list>
    </mat-drawer>
    <div class="main-content-area">
      <button mat-raised-button (click)="drawer.open()">Abrir</button>
    </div>
  </mat-drawer-container>
<app-player-bar></app-player-bar>
