.full-body {
  /* height: 100vh; */
  min-height: 100vh;
}

mat-toolbar > span {
  margin: 10px;
}

mat-toolbar {
  height: 6vh;
}

app-main-screen {
  height: 100%;
}

mat-icon:hover {
  cursor: pointer;
}
