<div class="main-content">
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
  <app-playable-display></app-playable-display>
</div>
