  <mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer class="drawer" mode="side" opened>
      <mat-nav-list>
        <app-navigation-button icon="home" path="" textContent='Home'></app-navigation-button>
        <app-navigation-button icon="search" path="/search" textContent='Search'></app-navigation-button>
        <app-navigation-button icon="library_music" path="" textContent='Your Library'></app-navigation-button>
        <mat-divider></mat-divider>
        <app-navigation-button icon="library_add" path="" textContent='Create new playlist'></app-navigation-button>
        <div class="spacer"></div>
        <app-navigation-button *ngFor="let playlist of playlists" [textContent]="playlist.name"></app-navigation-button>
      </mat-nav-list>
    </mat-drawer>
    <div class="menu-button-div">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-container>
<app-player-bar></app-player-bar>
