<mat-drawer-container class="content-container" autosize>
  <mat-drawer #drawer class="drawer" mode="side" opened>
    <mat-nav-list>
      <app-navigation-button icon="home" path="" textContent='Home'></app-navigation-button>
      <app-navigation-button icon="search" path="/search" textContent='Search'></app-navigation-button>
      <app-navigation-button icon="library_music" path="/library" textContent='Your Library'></app-navigation-button>
      <mat-divider></mat-divider>
      <app-navigation-button icon="library_add" path="/add-playlist" textContent='Create new playlist'></app-navigation-button>
      <div class="spacer"></div>
      <app-navigation-button *ngFor="let playlist of playlists" [path]="['/playlist', playlist.id]" [textContent]="playlist.name"></app-navigation-button>
      <mat-divider></mat-divider>
      <p *ngIf="creator">É criador</p>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
<app-player-bar></app-player-bar>
