app-player-bar {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.content-container {
  height: 82vh;
  width: 100%;
}

.drawer {
  width: 280px;
}

.spacer {
  height: 10px;
}

.menu-button-div {
  margin: 5px;
}
